<h1 class="pt-5 text-center pb-5">
    <%= title %> 
</h1>


<h3 class="pt-5 text-center pb-1">
    Fajta felvétele
</h3>

<section class="row justify-content-center pb-5">
    <form 
        class="g-3 col-6" 
        method="post"
        action="/admin/fajta"
    >
        <label 
            for="fajta_nev" 
            class="form-label"
        >
            Fajta neve
        </label>
        <input 
            type="text" 
            class="form-control" 
            id="fajta_nev"
            name="fajta_nev" 
        >

        <div class="d-grid mx-auto mt-5">
            <button 
                type="submit" 
                class="btn btn-primary"
            >
                Feltöltés
            </button>
        </div>
    </form>
</section>


<hr>

<h3 class="pt-5 text-center pb-1">
    Állatok listája
</h3>

<table class="table">
    <thead>
      <tr>
        <th scope="col">
            ID
        </th>
        <th scope="col">
            Név
        </th>
        <th scope="col">
            Fajta
        </th>
        <th scope="col">
            Ár
        </th>
        <th scope="col">
            Súly
        </th>
        <th scope="col">
            Életkor
        </th>
        <th scope="col">
            Neme
        </th>
        <th scope="col">
            Oltottság
        </th>
        <th scope="col">
            Törzskönyv
        </th>
        <th scope="col">
            Ivartalanított
        </th>
        <th scope="col">
            Fajtatiszta
        </th>
        <th scope="col">
            Törlés
        </th>
      </tr>
    </thead>
    <tbody>

    <% allatok.forEach(allat => { %>
    
        <tr>
        <th scope="row">
            <%= allat.allat_id %> 
        </th>
        <td>
            <%= allat.allat_nev %>
        </td>
        <td class="text-capitalize">
            <%= allat.fajta_nev %>
        </td>
        <td>
            <%= allat.ar %> Ft
        </td>
        <td>
            <%= allat.suly %> Kg
        </td>
        <td>
            <%= allat.eletkor %> Év
        </td>
        <th>
            <%= allat.neme ? 'Hím' : 'Nőstény' %>
        </th>
        <th class="<%= allat.oltottsag ? 'text-success' : 'text-danger' %>">
            <%= allat.oltottsag ? 'igen' : 'nem'  %>
        </th>
        <th class="<%= allat.torzskonyv ? 'text-success' : 'text-danger' %>">
            <%= allat.torzskonyv ? 'igen' : 'nem'  %>
        </th>
        <th class="<%= allat.ivartalanitott ? 'text-success' : 'text-danger' %>">
            <%= allat.ivartalanitott ? 'igen' : 'nem' %>
        </th>
        <th class="<%= allat.fajtatiszta ? 'text-success' : 'text-danger' %>">
            <%= allat.fajtatiszta ? 'igen' : 'nem' %>
        </th>
        <td>
            <form 
                method="post" 
                action="/admin/torles/<%= allat.allat_id %>" 
            >
            <button
                type="submit"
                class="btn btn-outline-danger"
            >
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="18" 
                    height="18" 
                    fill="currentColor" 
                    class="bi bi-trash" 
                    viewBox="0 0 16 16"
                >
                    <path 
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                    />
                    <path 
                        fill-rule="evenodd" 
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                    />
                </svg>
            </button> 
        </form>
        </td>
        </tr>

    <% }) %>
          
    </tbody>
</table>
